*/[dD]ownloads/
*.fast[aq]
*.do[c|cx]
*.pdf
*.DS_Store
*tern*
*.zip
vue_exer/*
!vue_exer/myApp_*/
*MACOSX*
advanced_css/StubCode.html
bootstrap/bootstrap-4.5.2/*
node_modules
yarn.lock
package.json
node_exer_basic/test_files
notes
