.mylabel {
  font-size: 1.2rem;
  margin: 20px;
}

#city-form {
  background-color: #B2B2B2;
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
  width: 100%;
  display: inline-block;
}

#city-input {
  margin: 20px;
  margin-left: 0px;
  width: 240px;
  height: 40px;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.9rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.9rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9rem;
}

#city-input::-webkit-input-placeholder {
  color: pink;
}

#unit-div {
  margin: 20px;
  margin-left: 0px;
}

#city-submit {
  margin: 20px;
  margin-left: 0px;
  width: 200px;
  height: 50px;
}

#weather-clear {
  margin-top: 20px;
  margin-left: 30px;
}

#weatherInfo-container {
  margin: 0;
  padding: 1rem;
  padding-left: 2rem;
  background-color: #DFDFDF;
  display: inline-block;
  width: 100%;
  height: 300px;
  position: relative;
}

.weather-img{
  margin: 0;
  margin-right: 50%;
  float: right;
  color: #093145;
}

.weather-info{
  margin: 0.8rem;
  color: #3C6478;
}

@media only screen and (max-width: 732px) {
  .mylabel{
    margin: 10px;
  }

  #city-input {
    margin: 10px;
    width: 185px;
    height: 30px;
  }

  #city-input::-webkit-input-placeholder {
    font-size: 0.7rem;
    color: brown;
  }

  #weatherInfo-container {
    height: 400px;
  }

  .weather-info{
    margin: 0;
  }

  .weather-img{
    margin-right: 15%;
  }

  #unit-div{
    margin: 10px;
  }

  #city-submit {
    margin: 10px;
  }
}
