body{
  margin: 0px;
  text-align: center;
}

img.uppercloud{
  position: absolute;
  left: 10%;
  top: 5%;
}

img.bottomcloud{
  position: absolute;
  right: 30px;
  top:30px;
}

.upperbox{
  background: lightblue;
  top: 20%;
  left: 10%;
  right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  text-align: center;
}

.upperh1{
  color: green;
  display: inline-block;
  font-size: 260%;
  margin:0 auto;
}

.upperh3{
  color: white;
  display: inline-block;
  font-size: 150%;
  margin:0 auto;
  padding-left: 1%;
}

.middlebox{
  background-color: #b0cac7;
  position: relative;
  margin: 40% 20px 5% 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.bottombox{
  margin-top: 0% auto 2% auto;
  position: relative;
  text-align: center;
}
