body {
  margin: 0px;
  text-align: center;
}

hr {
  height: 0;
  width: 85%;
  border-color: #59405c;
  border-style: none;
  border-width: 4px;
  border-top-style: dotted;
  margin-top: 1.5%;
  margin-bottom: 3%;
  position: relative;
}

img.bottomcloud {
  position: absolute;
  right: 30px;
  top: 30px;
}

img.uppercloud {
  position: absolute;
  left: 5%;
  top: 5%;
}

.bottombox {
  margin-top: 0% auto 2% auto;
  position: relative;
  text-align: center;
}

.bottom-container {
  font-family: 'Marko One', serif;
  margin-top: 2%;
  position: relative;
}

.btn-img{
  position: relative;
  width: 10%;
  height:10%;
  margin: 3% auto;
}

.footer-img {
  width: 3.5%;
  height: 3.5%;
  margin: 0% 3%;
  position: relative;
}

.middlebox {
  background-color: #b0cac7;
  position: relative;
  margin: 16% 0 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.middle-container {
  font-family: 'Marko One', serif;
  margin-top: 2%;
  position: relative;
}

.profile-image {
  width: 12%;
  height: 12%;
}

.upperbox {
  background: lightblue;
  top: 6%;
  left: 10%;
  right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  text-align: center;
}

.upperh1 {
  color: green;
  display: inline-block;
  font-family: 'Marko One', serif;
  font-size: 200%;
  margin: 0 auto;
}

.upperh3 {
  color: white;
  display: inline-block;
  font-size: 150%;
  font-family: 'Marko One', serif;
  margin: 0 auto;
  padding-left: 1%;
}

#upper-signature {
  color: #3c2c3e;
  display: inline-block;
  font-size: 300%;
  font-family: 'Allura', cursive;
  margin: 0 auto;
}
